/* Importando a Referencia da font INTER no site do GOOGLE FONTS (precisa de internet) */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Estilização Global */
.container{
    width: 90%;
    margin: 0 auto;
}

a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

button{
    cursor: pointer; /* Mudar o icone de ação do mouse */
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;

    border: none;
    color: white;
    border-radius: 3px;
    background-color: #1f1f1f;
}

.titulo{
    color: #1f1f1f;
    font-size: 150px;
    font-weight: 500;
}

.titulo-secundario{
    color: #1f1f1f;
    font-size: 50px;
    font-weight: 500;
}

.titulo-servicos{
    color: #1f1f1f;
    font-size: 30px;
    font-weight: 500;
}

.paragrafo{
    font-size: 20px;
    color: #4e4b59;
    font-weight: 400;
    line-height: 150%;
}

/* Estilizando o vosso cabeçalho */
.cabecalho{
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-navegacao{
    font-weight: 600;
    list-style-type:none;

    gap: 50px; /* Colocar um intervalo (espaço) entre os itens do diplay flex */
    display: flex;
}

/* Estilizando o conteudo principal - main */
main{
    padding: 40px 0px;
}

/* Estilizando a seção de apresentação */
.descricao-servico{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.descricao-servico-texto{
    width: 65%;
}

.descricao-servico-texto p{
    width: 60%;
    margin-top: 25px;
}

.numeros-projetos{
    display: flex;
    gap: 20px;
}

.efeito-numero{
    font-size: 52px;
    display: block;
    margin-bottom: 15px;
}

.button-principal{
    font-size: 22px;
    padding: 25px 70px;
}

.apresentacao-numeros-marca{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.quantidade-projetos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

/* Estilizando a seção de serviços */
.titulo-tracejado{
    display: flex;
    align-items: center;
}

.titulo-tracejado hr{
    width: 90px;
    border: none;
    background-color: #1f1f1f;
}

.tipos-servicos{
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.servico{
    width: 30%;
    gap: 30px;
    display: flex;
    align-items: flex-start;
}

.servico-texto{
    margin-top: 15px;
}

.servicos-principais{
    margin: 120px 0px;
}

/* Estilizando a seção de projeções de serviços */
.projecao{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

/* (>) seleciona as imagens, somente dentro da div.projeção */
.projecao > img{
    width: 800px;
    height: 700px;

    object-fit: cover;
    object-position: left;
    transition: 5s;
}

.projecao > img:hover{
    object-position: right;
}

.projecao-textos{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.dropdown{
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
}

/* Estilizando a seção de passos */
 
.passo-simples{
    display: flex;
    gap: 30px;
}
 
.passo-icone{
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
.passo-icone hr{
    height: 95px;
    background-color: #ddd;
    width: 2px;
    border: none;
}
 
.balao{
    background-color: #1F1F1F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
 
.projecao-passos{
    gap: 20px;
}
 
.passo-texto{
    margin-top: 15px;
}
 
.projecao-em-etapas{
    margin: 150px 0px;
}

/* Estilizando a seção de depoimentros */
.card{
    width: 450px;
    height: 400px;
    color: white;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: #1F1F1F;
}

/* Estilizar mais de uma classe ao mesmo tempo */
.texto-branco, .nome-cliente{
    color: white;
    display: block;
}

.texto-cinza{
    color: #8c8a97;
}

.cliente img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.cliente{
    gap: 15px;
    display: flex;
}

.aspas{
    font-size: 120px;
}

