/*Resetando valores do navegador*/
*{/*(*) - reconhecer qualquer elemento do html*/
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(15, 21, 41);
    
}

form{
    margin: 300px auto;
    padding: 20px 15px;
    width: 900px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(212, 202, 184);
}

div{
    padding: 10px;
}

label{
    font-size: 18px;
}

input{
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;

    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

button{
    width: 120px;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: cornflowerblue;
    
    border-radius: 8px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

input{
    text-align: center;
}

.title{
    color: #722F37;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}